body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.todo-container{
    display: flex;
    width: 760px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    height: 70px;
    transition-duration: 0.4s;
    font-size: 25px;
}
.todo-container:hover{
    background-color: rgb(231, 231, 231);
}

.todo-text{
    padding-left: 50px;
    padding-right: 50px;
}

.delete-button{
    height: 40px;
    width: 40px;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: white;
    font-size: 15pt;
    transition-duration: 0.3s;
    border-radius: 100%;
}
.delete-button:hover{
    background-color: rgb(255, 121, 121);
    color: white;
}

.complete-button{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: white;
}
.complete-button:hover{
    border-width: 4px;
}
.input-text{
    border: 3px solid grey;
    width: 500px;
    height: 50px;
    font-size: 25px;
}

.input-submit{
    width: 60px;
    height: 60px;
    font-size: 30pt;
    border: transparent;
    background-color: rgb(255, 144, 93);
    transition-duration: 0.3s;
}
.input-submit:hover{
    background-color: rgb(255, 99, 26);
}

.form-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.completed{
    text-decoration: line-through;
    text-decoration-color: rgb(158, 158, 158);
    color: rgb(190, 190, 190);
}
.orange-button{
    background-color: rgb(255, 144, 93);
}